.backGround {
    background-color: rgb(48, 48, 48);
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'NotoSansKR-Bold';
    src: url('../../fonts/NotoSansKR-Bold.otf');
}
@font-face {
    font-family: 'NotoSansKR-Light';
    src: url('../../fonts/NotoSansKR-Light.otf');
}
.logo{
    margin: auto;
    padding: 120px 0 120px 0;
    text-align: center;
    color: white;
    width: 100vw;
    font-family: 'NotoSansKR-Bold';
    font-size: 9vw;
}
.inputBox{
    margin:auto;
    border-radius: 95px;
    width: 90vw;
    height: 90vw;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
}
.inputBoxContainer{
    font-family: 'NotoSansKR-Light';
    color: white;
    margin:auto;
    width:50vw;
    text-align: center;
}
